.App {
  padding-right: 0em;
  padding-left: 0em;
}

.bubble {
  opacity: 0;
  animation: fadein ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

.bubble.orange {
  width:5vw;
  height:5vw;
  border-radius:2.5vw;
  font-size:1vw;    
  color: white;
  line-height:5vw;
  text-align:center;
  background: #fc6a42;
  position: absolute;
  left: -1.2vw;
  top: 21.5vw;
  z-index: 1;
  font-family: Ubuntu;
  animation-delay: 1s;
}

.bubble.blue {
  width:5vw;
  height:5vw;
  border-radius:2.5vw;
  font-size:1vw;    
  color: white;
  line-height:5vw;
  text-align:center;
  background: #4466c9;
  position: absolute;
  right: 1.5vw;
  top: 19.5vw;
  z-index: 1;
  font-family: Ubuntu;
  animation-delay: 1.5s;
}

.bubble.white {
  width:3vw;
  height:3vw;
  border-radius:1.5vw;
  font-size:1vw;    
  color: #6ca3ff;
  line-height:3vw;
  text-align:center;
  background: white;
  position: absolute;
  right: 4.9vw;
  top: 10.5vw;
  z-index: 1;
  font-family: Ubuntu;
  animation-delay: 2s;
}

.bubble.yellow {
  width:2.8vw;
  height:2.8vw;
  border-radius:1.4vw;
  font-size:.9vw;    
  color: #9db0c5;
  line-height:2.8vw;
  text-align:center;
  background: #fcec64;
  position: absolute;
  right: 4.3vw;
  top: 36vw;
  z-index: 1;
  font-family: Ubuntu;
  animation-delay: 2.5s;
}

#button {
  width:2.7vw;
  height:2.7vw;
  border-radius:1.35vw;
  font-size:.7vw;    
  color: orange;
  line-height:2.7vw;
  text-align:center;
  background: white;
  margin: auto;
  z-index: 1;
}

#button:hover {
	background-color: whitesmoke;  
}

#button:active {
	background-color: lavender;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}