.App {
  padding-right: 0em;
  padding-left: 0em;
}

.bubble {
  opacity: 0;
  animation: fadein ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
}

.bubble.orange {
  width:10vh;
  height:10vh;
  border-radius:5vh;
  font-size:10px;    
  color: white;
  line-height:10vh;
  text-align:center;
  background: #fc6a42;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
  font-family: Ubuntu;
  animation-delay: 0.5s;
}

.bubble.blue {
  width:10vh;
  height:10vh;
  border-radius:5vh;
  font-size:10px;    
  color: white;
  line-height:10vh;
  text-align:center;
  background: #4466c9;
  position: absolute;
  left: 0px;
  top: 100px;
  z-index: 1;
  font-family: Ubuntu;
  animation-delay: 1s;
}

.bubble.white {
  width:10vh;
  height:10vh;
  border-radius:5vh;
  font-size:10px;    
  color: #6ca3ff;
  line-height:10vh;
  text-align:center;
  background: white;
  position: absolute;
  left: 0px;
  top: 150px;
  z-index: 1;
  font-family: Ubuntu;
  animation-delay: 1.5s;
}

.bubble.yellow {
  width:10vh;
  height:10vh;
  border-radius:5vh;
  font-size:10px;    
  color: #9db0c5;
  line-height:10vh;
  text-align:center;
  background: #fcec64;
  position: absolute;
  left: 0px;
  top: 200px;
  z-index: 1;
  font-family: Ubuntu;
  animation-delay: 2s;
}

#button {
  width:10vh;
  height:10vh;
  border-radius:5vh;
  font-size:10px;    
  color: orange;
  line-height:10vh;
  text-align:center;
  background: white;
  margin: auto;
  z-index: 1;
}

#button:hover {
	background-color: whitesmoke;  
}

#button:active {
	background-color: lavender;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}